* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: gray;
  color: gray;
  display: flex;
  column-gap: 100px;
  font-size: xxx-large;
  width: 98%;
}


.derecha{
    justify-content: space-around;
    color: black;
   align-self: center;
   width: 100%;
}

.izquierda{
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-around;
    width: 50%;
    height: 10%;

}

@media (max-width: 480px) {
body{
    flex-direction: column-reverse;
    
}
.derecha{
    width: 50%;
}
}

.titulo{
    color: white;
}